@mixin window-style($width: 100%) {
  color: var(--color-100);
  width: $width;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: 1px solid var(--color-80);
}

@mixin standard-animation($duration: 0.2s) {
  -webkit-transition: all $duration ease-in-out;
  -o-transition: all $duration ease-in-out;
  transition: all $duration ease-in-out;
}
