@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

@import "./default/index.scss";

:root {
  --primary-color: #4162a8;

  --color-0: #f8f8f8;
  --color-20: #b4d2e7;
  --color-80: #94c5cc;
  --color-100: #313131;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "SUSE", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--color-100);
  background-color: var(--color-0);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: var(--primary-color);
}

@keyframes backgroundColorTransition {
  0% {
    background-color: #f8f8f8;
  }
  20% {
    background-color: #e7f5ff;
  }
  40% {
    background-color: #f2fff3;
  }
  60% {
    background-color: #f3e7ff;
  }
  80% {
    background-color: #ffefe5;
  }
  100% {
    background-color: #f8f8f8;
  }
}

.transition-background {
  animation: backgroundColorTransition 20s ease-in-out infinite;
  min-height: 100vh;
}
