.main {
  min-height: 100vh;

  .content {
    padding: 16px 0;

    .container {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      @media (max-width: 768px) {
        gap: 15px;

        & > * {
          flex-direction: column;
        }
      }
    }

    .switches {
      margin-bottom: 14px;
      margin-top: 12px;
    }

    .result {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .result h1 {
      padding-left: 18px;
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    .result p {
      padding-left: 18px;
      padding-right: 18px;
      margin-bottom: 1rem;
      line-height: 1.6;
    }
  }
}
